click==6.7
elasticsearch==5.4.0
Flask==0.12.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
JPype1==0.6.2
konlpy==0.4.4
MarkupSafe==0.23
nltk==3.2.4
redis==2.10.5
six==1.10.0
urllib3==1.21.1
Werkzeug==0.12.2
